In [2]:
import pandas as pd
df= pd.DataFrame ({
    "eid":[101,232,4545],
    "name":['hello',"stop","taxi"],
    "level":["assistant","professor","lecturer"]
})
df.dtypes

eid      int64
name       str
level      str
dtype: object

In [3]:
df["level"]=df["level"].astype("category")
df.dtypes

eid         int64
name          str
level    category
dtype: object

In [5]:
df['level']=df['level'].cat.rename_categories({
    "assistant":"ast",
    "professor":"proff"
})
df.head()

    eid   name     level
0   101  hello       ast
1   232   stop     proff
2  4545   taxi  lecturer

In [7]:
df['level_code']=df['level'].cat.codes
print(df.head())

    eid   name     level  level_code
0   101  hello       ast           0
1   232   stop     proff           2
2  4545   taxi  lecturer           1

In [10]:
encoded= pd.get_dummies(df["level"],prefix="lev")
final_df=pd.concat(objs=[df,encoded],axis=1)
print(final_df)

    eid   name     level  level_code  lev_ast  lev_lecturer  lev_proff
0   101  hello       ast           0     True         False      False
1   232   stop     proff           2    False         False       True
2  4545   taxi  lecturer           1    False          True      False