In [1]:
import pandas as pd
df= pd.DataFrame({
    "Date":['2023-3-4','2023-3-25','2023-3-6','2023-3-9'],
    "sales":[132,354,56,676]
})
print(df.dtypes)

Date       str
sales    int64
dtype: object

In [2]:
df['Date']=pd.to_datetime(df['Date'])
print(df.dtypes)

Date     datetime64[us]
sales             int64
dtype: object

In [5]:
df = df.set_index("Date")
print(df.head())

            sales
Date
2023-03-04    132
2023-03-25    354
2023-03-06     56
2023-03-09    676

In [6]:
df["Year"]=df.index.year
df["Month"]=df.index.month
df["Day"]=df.index.day
df["Day_name"]=df.index.day_name()
df['Donth_name']=df.index.month_name()

In [7]:
df.loc["2023"]

            sales  Year  Month  Day  Day_name Donth_name
Date
2023-03-04    132  2023      3    4  Saturday      March
2023-03-25    354  2023      3   25  Saturday      March
2023-03-06     56  2023      3    6    Monday      March
2023-03-09    676  2023      3    9  Thursday      March